accelerate
aiohttp
aiosignal
annotated-types
anyio
attrs
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
datasets
dill
dnspython
filelock
firebase-admin
flasgger
Flask
flask-cors
fonttools
frozenlist
fsspec
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
gradio_client
grpcio
grpcio-status
h11
httpcore
httplib2
httpx
huggingface-hub
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
mistune
mpmath
msgpack
multidict
multiprocess
networkx
numpy
packaging
pandas
pillow
protobuf
psutil
pyarrow
pyasn1
pyasn1-modules
pycparser
pydantic
pydantic_core
PyJWT
pymongo
pyparsing
python-dateutil
pytz
PyYAML
redis
referencing
regex
requests
rpds-py
rsa
safetensors
scikit-learn
scipy
seaborn
six
sniffio
spotapi
spotipy
sympy
threadpoolctl
tls-client
tokenizers
torch
tqdm
transformers==4.29.0
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
validators
websockets
Werkzeug
xxhash
yarl
gunicorn
