**/__pycache__/
.DS_Store
*.pyc
.env
.cache

vibetrackr/backend/database/vibetrackr-firebase-admin-sdk.json
vibetrackr/backend/utils/ml/emobank.csv
vibetrackr/backend/utils/ml/vad-emotion/

vibetrackr/frontend/logs
vibetrackr/frontend/*.log
vibetrackr/frontend/npm-debug.log*
vibetrackr/frontend/yarn-debug.log*
vibetrackr/frontend/yarn-error.log*
vibetrackr/frontend/pnpm-debug.log*
vibetrackr/frontend/lerna-debug.log*
vibetrackr/frontend/node_modules
vibetrackr/frontend/dist
vibetrackr/frontend/dist-ssr
vibetrackr/frontend/*.local
vibetrackr/frontend/.vscode/*
!vibetrackr/frontend/.vscode/extensions.json
vibetrackr/frontend/.idea
vibetrackr/frontend/.DS_Store
vibetrackr/frontend/*.suo
vibetrackr/frontend/*.ntvs*
vibetrackr/frontend/*.njsproj
vibetrackr/frontend/*.sln
vibetrackr/frontend/*.sw?